* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'MyFutura';
    src: url('./fonts/Futura-Bol.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'MyFutura';
    src: url('./fonts/Futura-Boo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyFutura';
    src: url('./fonts/Futura-BooObl.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

body {
    font-family: sans-serif;
}

section {
    padding: 90px 0; 
    display: block;
}

section h2 {
    margin: 40px 0 50px 0;
    color: #3D5CDB;
    font-family: 'MyFutura', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 56px;
    line-height: 1.5;
}

.fadein {
    position: relatie;
    opacity: 0;
    transform: translateY(10px);
    transition: 0.5s all ease-in-out;
    transition-delay: 0.3s;
}

header {
    position: relative; 
    height: 100vh; 
    background-size: cover;
    background-position: center;
    background-image: url(images/background1.jpg);
    overflow: hidden;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

nav {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 30px 50px;
    justify-content: flex-end;
    font-family: 'MyFutura', sans-serif;
    margin-right: 20px;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 27px;
    margin: 0;
    padding: 0;
}

nav ul li {
    padding-top: 10px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease; 
    font-size: 24px;
}

nav ul li a:hover {
    color: #3D5CDB;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 100%;
    max-width: 800px;
    text-align: center; 
}

.title h1 {
    margin: 0 0 20px 0; 
}

.title h1 img {
    width: 100%;
    max-width: 900px;
    height: auto;
}

.title p {
    color: #ffffff;
    font-size: 48px;
    font-weight: bold;
    margin: 0;
    font-family: 'MyFutura', sans-serif;
    font-style: italic;
    font-weight: lighter;
}

#introduction {
    background-color: #ffffff;
}

.content-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto 65px auto; 
    padding: 0 20px;
    gap: 40px;
}

.content-row img {
    width: 480px; 
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.box {
    width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: initial;
}

.box p {
    line-height: 32px;
    font-size: 16px;
    margin-bottom: 29px;
    display: block;
    text-align: left;
    line-height: 1.8;
    font-weight: 250;
}

.intro-button {
    display: block;
    width: 170px;
    color: #ffffff;
    text-decoration: none;
    padding: 5px 0;
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
    text-align: center;
    font-family: "Yu Mincho", "YuMincho", "Hiragino Mincho ProN", "HGS明朝E", "MS P明朝", "MS PMincho", serif;
    margin: 0 auto;
    font-size: 20px;
}

.content-row:nth-of-type(1) .intro-button {
    background-color: #007bff; 
    color: #ffffff; 
}
  
.content-row:nth-of-type(2) .intro-button {
    background-color: #ffc107; 
    color: #ffffff; 
}

.intro-button:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); 
}

#courses {
    background-color: rgba(186, 213, 245, 0.6); 
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#particles-js {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; 
}

.course-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1020px;
    margin: 0 auto 20px;
    position: relative; 
    z-index: 1;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
    height: 320px; 
    padding-top: 30px;
    border-radius: 10px;
    background-color: #ffffff;
    text-align: center;
    transition: transform 0.3s ease;
    flex: 0 0 240px;
}

.card:hover {
    transform: translateY(-5px); 
}


.card img {
    width: 80px;
    height: 140px;
    margin-bottom: 20px;
    object-fit: contain; 
}

.card p {
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    line-height: 20px;
    margin-bottom: 10px;
}


.course-button {
    width: 150px;
    font-size: 12px;
    font-weight: bold;
    line-height: 36px;
    color: #ffffff;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    transition: box-shadow 0.3s ease;
    font-family: "Yu Mincho", "YuMincho", "Hiragino Mincho ProN", "HGS明朝E", "MS P明朝", "MS PMincho", serif;
}

.card:nth-of-type(1) .course-button { background-color: #e34f26; }
.card:nth-of-type(2) .course-button { background-color: #1572b6; }
.card:nth-of-type(3) .course-button { background-color: #222c37; }
.card:nth-of-type(4) .course-button { background-color: #cc342d; }
.card:nth-of-type(5) .course-button { background-color: #f7df1e; }
.card:nth-of-type(6) .course-button { background-color: #f05138; }
.card:nth-of-type(7) .course-button { background-color: #00add8; }

.slider {
    width: 80%; 
    margin: 30px auto; 
    
}

.slider img {
    width: 100%;
    height: auto;
    
}

.slick-prev, .slick-next {
    width: 30px;
    height: 30px;
    background-color: #333; 
    border-radius: 50%; 
    z-index: 10;
}

.slick-prev::before, .slick-next::before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-top: 2px solid #ffffff;  
    border-right: 2px solid #ffffff;
    position: absolute;
    top: 10px;
}

.slick-prev { left: -40px; }
.slick-prev::before { 
    left: 12px; 
    transform: rotate(-135deg); 
}

.slick-next { right: -40px; }
.slick-next::before { 
    right: 12px; 
    transform: rotate(45deg); 
}

.slick-prev:hover,
.slick-next:hover {
    background: #555;
    opacity: 1;
}

.slick-dots li button:before {
    font-size: 20px;
}


.map {
    text-align: center;
    width: 100%;
    max-width: 600px;
    height: 400px;
    margin: 0px auto;
    padding: 0 20px;
}

.map iframe {
    width: 100%;
    height: 400px;
}

footer {
    background-color: #ffffff;
    color: #3366ff;
    text-align: center;
    padding: 20px 0;
}

footer small {
    font-size: 14px;
}

@media screen and (max-width: 1080px) {
    section h2 {
        font-size: 48px;
    }
    
    .title p {
        font-size: 32px;
    }

    .title h1 img {
        width: 80%;
        margin: 0 auto;
    }

    .content-row {
        flex-direction: column; 
        align-items: center;
    }

    .content-row img,
    .box {
        width: 100%;
        max-width: 500px;
    }
    

    .box p {
        font-size: 13px;
        line-height: 26px;
        margin-bottom: 20px;
    }

    .intro-button {
        margin-top: 10px;
    }

    .content-row:nth-of-type(2) {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 780px) {
    nav {
        display: none; 
    }

    .title p {
        font-size: 24px;
    }

    .content-row {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .box {
        width: 100%;
        max-width: 500px;
    }

    .course-list {
        max-width: 780px; 
    }

    .card {
        flex: 0 0 160px;
        max-width: 160px;
        height: 200px;
    }
    
    .card img {
        width: 50px;
        height: 60px;
    }
    
    .card p {
        font-size: 13px; 
        margin-bottom: 5px;
        margin-bottom: 0;
    }

    .course-button {
        width: 130px;
        line-height: 36px;
        margin-top: auto;
        margin-bottom: 10px;
    }

    .slider {
        width: 85%;
    }

    .slick-prev {
        left: 10px;
    }

    .slick-next {
        right: 10px;
    }

    .map {
        width: 100%;
        max-width: 100%;
        padding: 0;
    }
    
    .map iframe {
        width: 100%;
    }

}

@media screen and (max-width: 540px) {
    
    .content-row img{
        width: 90%;
    }
    .box {
        width: 90%;
    }

    .slider {
        width: 90%;
    }
}