* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'MyFutura';
    src: url('./fonts/Futura-Bol.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'MyFutura';
    src: url('./fonts/Futura-Boo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyFutura';
    src: url('./fonts/Futura-BooObl.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

header{
    width: 100vw;
    height: 100vh;
    background-image: url(images/background1.jpg);
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    color: #ffffff;
    font-family: 'MyFutura';
}

nav {
    display: flex;
    justify-content: flex-end;
    padding: 30px 50px;
    position: absolute;
    top: 0;
    width: 100%;    
}

nav ul{
    display: flex;
}

nav li{
    list-style: none;
    margin-right: 27px;
    padding-top: 10px;
}

nav a{
    font-size: 24px; 
    color: #ffffff;
    text-decoration: none;
    transition: color 0.5s ease;
}

nav a:hover {
    color: royalblue;
}

.title {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

h1 img{
    height: 240px;
    text-align: center;
}

.title p {
    text-align: center;
    font-size: 45px;
    font-style: italic;
    color: #ffffff;
    margin-top: 18px;
}

#introduction {
    text-align: center;
    background-color: #ffffff;
    padding: 90px 0;
}

.container h2{
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    color: #2e5cf5;
    margin-bottom: 30px;
    font-family: 'MyFutura';
}

.fadein{
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1280px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.content{
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    row-gap: 65px;
}

.content-row{
    display: flex;
}

.content-row img{
    max-width: 500px;
    max-height: 330px;
    object-fit: cover;
}

.box {    
    display: flex;  
    flex-direction: column;
    align-items: center; 
    width: 500px;
}

.box p{
    line-height: 32px;
    font-size: 16px;
    color: #000000;
    text-align: left;
    margin-bottom: 29px;
    padding: 20px 20px;
    margin: 0 30px;
    font-family: inherit;
}

.text1 {
    padding-top: 10px;
}

.box a {
    width:170px;
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
    color: #ffffff;
    border-radius: 12px;
    text-decoration: none;
} 

.intro-button1{
    background-color:royalblue;
    transition: all 1s;
}

.intro-button2{
    background-color:rgb(255, 199, 31);
    transition: all 1s;
}

.intro-button1 .intro-button2 a:hover {
    box-shadow: 10px 10px 10px #000000;
}

.box a:hover {
    box-shadow: 0 0 10px #20200060;
}


#courses {
    text-align: center;
    background-size: cover;
    padding: 70px 10px;
    position: relative;
}

#particles-js {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    z-index: -1;   
    background-color: #aecaff80; 
}

.course-list {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 20px;
    column-gap: 20px;
    max-width: 1040px;
}

.card {
    width: 240px;
    height: 340px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;  
    flex-direction: column;
    align-items: center; 
    padding-top: 40px;
}

.card img{
    max-width: 100px;  
    max-height: 120px; 
    height: 100px; 
    object-fit: contain; 
    margin-top: 20px; 
    margin-bottom: 30px;
}

.card p{
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.card a{
    width: 180px;
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
    color: #ffffff;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    transition: all 1s;
}

.card:nth-of-type(1) .course-button { background-color: coral; }
.card:nth-of-type(2) .course-button { background-color: rgb(101, 182, 233); }
.card:nth-of-type(3) .course-button { background-color: black; }
.card:nth-of-type(4) .course-button { background-color: red; }
.card:nth-of-type(5) .course-button { background-color: gold; }
.card:nth-of-type(6) .course-button { background-color: rgb(255, 114, 67); }
.card:nth-of-type(7) .course-button { background-color: mediumturquoise; }


.course-list a:hover {
    box-shadow: 0 0 10px #20200060;
}

#images {
    background-color: #ffffff;
    padding: 80px 0;
}

.slider {
    width: 88%;
    flex-direction: row;
    justify-content: center;
}

.slider img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.slick-prev, .slick-next {
    width: 20px;
    height: 20px;
    background-color: #333; 
    border-radius: 50%;     
    z-index: 10;
}

.slick-prev::before, .slick-next::before {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border-top: 2px solid #ffffff;   
    border-right: 2px solid #ffffff;
    position: absolute;
    top: 6px;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    opacity: 1;    
    background: #333; 
    border-radius: 50%;  
}



.slick-prev { left: -30px; }
.slick-prev::before { 
    left: 8px; 
    transform: rotate(-135deg); }


.slick-next { right: -30px; }
.slick-next::before { 
    right: 8px; 
    transform: rotate(45deg); }

.slick-dots li button:before {
    font-size: 30px;
}

#access{
    background-color: #ffffff;
    padding-bottom: 50px;
}

footer {
    height: 40px;
    font-size: 18px;
    color: royalblue; 
    font-family: "MyFutura";
}

@media (max-width: 1080px){

    .title {
        text-align: center;
    }

    h1 img {
        width: 80%;
        height: auto;
        margin: 0 auto;
    }

    .title p{
        font-size: 32px;

    }
    .content-row {
        flex-direction: column;
        align-items: center;
    }

    .content-row:nth-child(2) {
    flex-direction: column-reverse;
    }

    .box{
        padding: 0;
    }

    .box p{
        font-size: 13px;
        margin: 0;
        line-height: 26px;

    }
    .box a{
        margin-top: 30px;
    }

    .box p:nth-last-child(2) {
        margin-top: 20px;
    }
}

@media (max-width: 768px){

    .title p {
        font-size: 24px;
    }

    nav {
        display: none;
    }

    .course-list {
        max-width: 780px;
    }

    .card {
        width: 160px;
        height: 200px;
        padding-top: 20px;
    }

    .card img {
        width: 60px;
        height: 70px;
        object-fit: contain;
        margin-top: 10px; 
        margin-bottom: 15px;
    }
    .card p {
        font-size: 14px;
        margin-top: 6px;
        margin-bottom: 6px;
    }

    .card a{
        width: 140px;
        line-height: 32px;
        font-size: 12px;
        margin-top: 8px;
    }
    
    .map {
        width: 100%;
    }
    
    .map iframe {
        width: 100%;
        max-width: 100%;
        height: 400px;
    }
}


@media (max-width: 480px){
    .content-row img {
        width: 90vw;
        height: auto;
    }

    .content-row p {
        width: 100vw;
        height: auto;
    }

    .box p {
        width: 100vw;
    }

}

@media (max-width: 450px){
    .container h2{
        font-size: 34px;
    }
}